body {
    background-image: url("images/gray_jean.png");
    font-family: "Poiret One";
    color: #444;
    margin: 0;
    /*padding: 6px 0px 6px 0px;*/
    /*background-repeat: repeat;*/
}

.logo {
    height:10%;
    width:10%
}

#jumbocode {
    border-radius: 50%;
}

#phe {
    height: 15%;
    width:15%;
    border-radius: 50%;
}

h1 {
    font-size: 51px;
    line-height: 44px;
    letter-spacing: -1px;
    font-weight: bold;
    text-align:center;
}

.no_link {
    text-decoration: none;
    color:#444;
}

.anchor_bar {
    font-size: 45px;
    text-decoration: none;
    color: #3A52F0
}

.skills_style {
    font-size: 25px;
}

h2 {
    font-size: 40px;
    line-height: 44px;
    letter-spacing:3px;
    text-align: center;
    text-decoration: underline;
}

h3 {
    font-size: 30px;
    line-height: 10px;
}

.designation {
    font-size: 25px;
    line-height: 10px;
}

ul {
    list-style-type: none;
    line-height: 35px;
}

li {
    font-size: 25px;
}

#profile_pic {
    height:22.5%;
    width:22.5%;
    padding: 100px, 0, 100px, 0;
}

#window_pic {
    height:100%;
    width:100%;
}

#cathedral_large {
    width:100%;
    clip:rect(80px, 10px, 10px, 80px);
}

#tufts {
    width:100%;
}

.narration {
    margin-top: 70px;
    margin-bottom: 70px;
}

#no_padding {
    margin-bottom: 0px;
}

.general {
    text-align: center;
}

.links {
    font-size: 35px;
    color: #444
}

#resume_link {
    float: left;
    padding-left:25%;
}

#bio_link {
    float: right;
    padding-right:20%;
}