body {
    background-image: url("images/gray_jean.png");
    font-family: "Poiret One";
    color: #444;
    margin: 0;
    padding: 6px 0px 6px 0px;
    /*background-repeat: repeat;*/
}

img {
    clip-path:;
}

h1 {
    font-size: 51px;
    line-height: 44px;
    letter-spacing: -1px;
    font-weight: bold;
    text-align:center;
}

.anchor_bar {
    font-size: 45px;
    text-decoration: none;
    color: #3A52F0
}

.skills_style {
    font-size: 25px;
}

h2 {
    font-size: 40px;
    line-height: 44px;
    letter-spacing:3px;
    text-align: center;
    text-decoration: underline;
}

h3 {
    font-size: 30px;
    line-height: 10px;
}

.designation {
    font-size: 25px;
    line-height: 10px;
}

ul {
    list-style-type: none;
    line-height: 35px;
}

li {
    font-size: 25px;
    /*list-style:inside;*/
}

#profile_pic {
    height:25%;
    width:25%;
    padding: 100px, 0, 100px, 0;
}

.general {
    text-align: center;
}

.links {
    font-size: 35px;
    color: #444
}

#resume_link {
    float: left;
    padding-left:25%;
}

#bio_link {
    float: right;
    padding-right:20%;
}