body {
    background-image: url("images/gray_jean.png");
    /*background-repeat: repeat;*/
}

h1 {
    font-family: "Poiret One";
    color: #444;
    margin: 0;
    padding: 6px 0px 6px 0px;
    font-size: 51px;
    line-height: 44px;
    letter-spacing: -1px;
    font-weight: bold;
    text-align:center;
}

#profile_pic {
    height:100px;
    width:75px;
}